Body{
color:aqua
    font-family: Veranda, Arial
    sans-serif;
    font-size: 20px
text-align: center
        textshadow:1px 3px 100px deepskyblue;
    background-color:cornsilk;
    background-image: url(https://previews.123rf.com/images/apostrophe/apostrophe1407/apostrophe140700048/30533468-abstract-black-background-old-black-vignette-border-frame-white-gray-background-vintage-grunge-backg-Stock-Photo.jpg)
    backround-size: cover;}